h1 {font-family: sans-serif;
    font-weight: bold;
    color: white;
    font-size: 20px;
    text-decoration: none;}

h2 {font-family: sans-serif;
    font-weight: bold;
    color: white(0, 0, 0);
    font-size: 50px;
    text-decoration: none;}

a {text-decoration: none;}

.bg-1 {
  background-image: url('fellasathubba.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-2 {
  background-image: url('bsg.jpg');
}


.bar {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: black;
  opacity: 1;
  z-index: 0;
}


header {
    position: relative;
    z-index: 2;
  }
  
header img {
   position: absolute;
   top: 15px;
   left: 50px;
}

.logo:hover {
    content: url("bsgpurpletrans.png");}


body {
  opacity: 0;
  transform: translateY(20px);  
  transition: opacity 1.5s ease-in-out, transform 1.5s ease-in-out;
      z-index: 3;
    /*
    background-position: left top, right top;
    background-repeat: no-repeat, no-repeat;
    background-size: 50% auto, 50% auto; */
  }

  
/*
  #bg-images {
    background-image: url('testfellas.jpg');  , url('devflipwhip.jpg');
    background-position: left top, right top;
    background-repeat: no-repeat, no-repeat;
    background-size: 50% auto, 50% auto;  
  }
 */

  body.fade-in {
    opacity: 1;
    transform: none;
  }


img		{border-color: transparent;
    box-shadow: none;}

table	{width: 65%;
    margin-left: auto; 
    margin-right: auto;
    border-color: white;
    border-style: ridge;
    border-width: 0px;
    z-index: 1;}

.centered-table {
    display: inline-block;
    text-align: center;}

.right-aligned-table {
      display: inline-block;
        text-align: center;}

.table-container {
    margin-bottom: 20px;
    }


.menu	{
    text-align: center;
    width: 100%;
    border-radius: 50px;
    padding: 10px 0;
    position: relative;
    z-index: 1;}

.menuicon {
    padding-right: 20px;}
    
        
.menuicon a:hover h1 {
      color: rgb(127, 0, 224);
      text-decoration: none;
      font-weight: bold;
    }

.menu a {
        color: white;
        text-decoration: none; 
    }
        
      
.menuiconright {
        text-align: right;
        padding-right: 5px;
      }


#ig-logo:hover {
        content: url("coloriglogo.png");
    }

th		{color: white; 
		background-color: #757775;}

tr.stripe	{background-color: white;}
	 
td.bolder	{font-weight: bold;}

caption	{caption-side: bottom;
		font-style: italic;}